body, html {
    width: 100%;
    margin: 0;
    overflow-x:hidden;
    user-select: none;
}
body {
    background-color:rgb(100, 82, 97);
}

h1 {
    margin: 0;
    text-align: center;
}
h1 img {
    width: 100%;
    max-width: 1000px;
}

#pannel {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 6px;
    justify-content: center;
}

img {
    -webkit-user-drag: none;
    min-width: 150px;
}

img.thumnail {
    width: 150px;
    border-radius: 10%;
    animation: none;
    background-color: seashell;
}
.thumnail:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
@keyframes first-animation{
    0%{
        transform: scale(1.0);
    }
    100%{
        transform:  scale(1.05);
    }
}

#imgPop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
}

#popBackground {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media (min-height:400px) { 
    #imgDetail {
        top: 20%;
    }
}

/*모바일인 경우*/
@media (max-height:400px) { 
    #imgDetail {
        width: 500px;
    }
    #closeBtn {
        position: relative;
        top: -55px;
        left: 340px;
        z-index: 25;
    }
}

#imgDetail {
    position: relative;
    display: inline-block;
    width: 600px;
    max-width: 96%;
    z-index: 10;
}

#grid {
    position: absolute;
    top: 0;
    display: none;
    text-align: center;
    width: 100%;
    z-index: 20;
}
#gridImg {
    width: 100%;
}

#image {
    width: 100%;
}

#closeBtn {
    font-size: 20px;
}

#footer {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    color: rgb(152, 134, 156);
}

#searchDiv {
    margin: 3px;
    margin-bottom: 10px;
    text-align: center;
}

#searchDiv div{
    display: inline-block;
    background-color: rgb(183, 151, 185);
    padding: 5px;
}

div.loading {
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background:rgba(0, 0, 0, 0.5);
    z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
}
