body, html {
    width: 100%;
    margin: 0;
}
body {
    background-color:rgb(100, 82, 97);
}

h1 {
    margin: 0;
    text-align: center;
}
h1 img {
    width: 100%;
    max-width: 1000px;
}

#pannel {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 6px;
    justify-content: center;
}

img {
    -webkit-user-drag: none;
    min-width: 150px;
}

img.thumnail {
    width: 150px;
    border-radius: 10%;
}
.thumnail:hover {
    transform: scale(1.1);
    transition: 0.2s;
}


#imgPop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

#popBackground {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

#imgDetail {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 200px;
    z-index: 10;
}
#grid {
    position: absolute;
    top: 0;
    display: none;
    text-align: center;
    width: 100%;
    z-index: 20;
}
#gridImg {
    width: 600px;
    max-width: 96%;
}

#image {
    width: 600px;
    max-width: 96%;
    z-index: 15;
}

#footer {
    height: 50px;
}

div.loading {
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    background:rgba(0, 0, 0, 0.5);
    z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
}
